.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  margin: 10px;
  align-items: center;
  padding-right: 30px;
}

.header > ul {
  display: flex;
}

.header > ul > li {
  list-style-type: none;
  margin-left: 20px;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 270px;
  border: 1px solid gray;
  padding: 8px;
}

.card > img {
  width: 95%;
}
